$primary: #87CF23;
$secondary: #C9C9C9;
$danger: #E82C2C;
$dark: #474B4F;
$light: #555555;
$body-bg: #222629;
$border-color: $primary;
$form-check-input-border:$primary;
$form-check-input-bg:$secondary;
$form-check-label-color:$secondary;
$modal-content-bg:$dark;
$input-border-color: $light;
$list-group-bg: $dark;
$input-color:$secondary;
$card-bg: $secondary;
$card-color:$body-bg;
$card-border-color:$light;
$card-cap-color:$body-bg;
@import "../node_modules/bootstrap/scss/bootstrap";