$primary: #87CF23;
$secondary: #C9C9C9;
$danger: #f34c4c;
$dark: #474B4F;
$light: #555555;
$body-bg: #222629;
$border-color: $primary;
$form-check-input-border:$primary;
$form-check-input-bg:$secondary;
$form-check-label-color:$secondary;
$modal-content-bg:$dark;
$input-border-color: $light;
$list-group-bg: $dark;
$list-group-color: #fff;
$list-group-action-color:#fff;
$list-group-active-bg:$primary;
$list-group-hover-bg:$primary;
$input-color:$secondary;
$card-bg: $secondary;
$card-color:$body-bg;
$card-border-color:$light;
$card-cap-color:$body-bg;
$btn-link-hover-color:$secondary;
$zindex-dropdown:1200;
@import "../node_modules/bootstrap/scss/bootstrap";