$primary: #87CF23;
$primary-light: #b5fd50;
$secondary: #fff;
$danger: #E82C2C;
$dark: #474B4F;
$light: #555555;
$body-bg: #222629;
$border-color: $primary;
$form-check-input-border:$primary;
$form-check-input-bg:$secondary;
$form-check-label-color:$secondary;
$modal-content-bg:$dark;
$input-border-color: $light;
$list-group-bg: $dark;
$list-group-color: #fff;
$list-group-action-color:#fff;
$list-group-active-bg:$primary;
$list-group-hover-bg:$primary;
$input-color:$secondary;
$card-color:$body-bg;
$card-border-color:$body-bg;
$card-cap-color:$body-bg;
$btn-link-hover-color:$secondary;
$accordion-icon-color: $primary;
$accordion-button-active-bg: $dark;
$card-bg: $body-bg;
$nav-tabs-link-active-color:$body-bg;
$nav-link-color:$primary;
$nav-tabs-link-active-bg:$primary;
$nav-link-hover-color:$secondary;
@import "../node_modules/bootstrap/scss/bootstrap";