
.icon-nophoto:before { content: '\e800'; } /* '' */
.icon-form:before { content: '\e801'; } /* '' */
.icon-stats:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-book-open:before { content: '\e804'; } /* '' */
.icon-loop-alt:before { content: '\e805'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
